body {

background-image:  url('images/Dragon2.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.languangeForm{
padding: 1em;

}

#language {
margin: 1em auto;	
}
#selectLanguage {
margin:1em auto;
padding: 1em;		
}
#box1 {
padding: 3em;	
	
}
#result1 {
margin: 0 auto;	
}
 #card-table1 {
	margin-left:  1em;

} 
#tablerow1 {
color: black;
}

#card-table3{

margin: 3em;	
	
}

#readMore {
	
margin-left: 3em;
border-bottom: 1px solid black !important;

}

#result3 {
width:100;
margin: 2em auto;	
margin-left: .5em;
margin-right: 1em;

	
}

#card-table5 {

width: 80%;
padding: .5em;
margin:0 auto;
margin-top: 3em;	
}
/* #result2 {
width:70%;
}
 */
